<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1">

  <test  name="Verify Login">
    <classes>
      <class name="TestCases.verifyLogin"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test  name="Create IB">
    <classes>
      <class name="TestCases.createIB"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
